@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'themify';
  src: url('./assets/fonts/themify.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playfair';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nanum';
  src: url('./assets/fonts/NanumMyeongjo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nanumBold';
  src: url('./assets/fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'themify', sans-serif;
}

header, footer {
  max-width: 1000px;
  margin: 0 300px;
  text-align: center;
}

.logo {
  height: 80px;
  /* margin-left: 80px; */
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn:hover {
  --tw-border-opacity: 1;
  border-color: #fd9392;
  --tw-bg-opacity: 1;
  background-color: #fd9392;
}

.navbar-start {
  width: 20%;
}

.navbar-end {
  width: 20%;
}

.spa-img {
  width: 600px;
  object-fit: contain;
}

.leaf-img {
  width: 200px;
}

/* Treatment CSS */

.container {
  display: grid;
  grid-template-columns: repeat(4, 470px);
  gap: 10px;
  width: 100vw;
  height: 700px;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #F27E79;
}

.image-container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon {
  color: white;
  position: absolute;
  width: 70px;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


